body {
    background-image: url('/img/arkaplan.jpg');
    background-size: cover;
}


/* NAVBAR */

.navbar {
    padding: 1% 10%!important;
}

.logo {
    width: 15%;
}

.logo img {
    width: 100%;
}

.menu {
    width: 50%;
}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu ul li {
    border: none;
    padding-bottom: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
}
.menu ul li a {
    color: #094067;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    transition: all 300ms ease-out;
}
.menu ul li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}



/* TASK LIST */



i {
    font-style: italic;
}

.container{
    height: 80vh;
    margin-top: 3%;
}

.card {
    height: 90%!important;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 10%;
    background-color: #fff;
}
.widget-subheading{
    color: #858a8e;
    font-size: 10px;
}
.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem;
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    width: 50%;
    align-items: center;
    white-space: nowrap;
}

.card-header ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.scroll-area-sm {
    height: 890%;
    overflow-x: hidden;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.todo-indicator {
    position: absolute;
    width: 4px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s;
}

.bg-warning {
    background-color: #f7b924 !important;
}

.complated {
    background-color: #81CACF;
}

.complated .widget-heading {
    text-decoration: line-through;
}

.complated .btn-outline-success {
    background-color: #3ac47d;
    color: #fff;
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;
}
.btn { 
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important;
}

/* Task Popup */

.modal-body .inputTags {
    display: flex;
}
.modal-body .inputTags input, .modal-body .inputTags select {
    width: 90%;
}
.modal-body .inputTags button {
    width: 10%;
}

.modal-body .inputTags select {
    padding-left: 2%;
}





/* TEAM */

  
.our-team {
    padding: 1.2rem 0.75rem;
    background: #fff;
    border-radius: 1rem;
    text-align: center;
    border: 0.5px solid #60c5a8;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
      rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  }
  .our-team .pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .pic {
    background: #60c5a8;
    border-radius: 50%;
  }
  .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .our-team .title {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    color: #60c5a8;
    margin: 0 0 7px 0;
  }
  .our-team .post {
    display: block;
    font-size: 1rem;
    color: #60c5a8;
    margin-bottom: 1rem;
  }
  .our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .our-team .social li {
    display: inline-block;
    margin-right: 5px;
  }
  .our-team .social li a {
    display: block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    font-size: 1rem;
    color: #60c5a8;
    border: 1px solid #60c5a8;
    transition: all 0.5s ease 0s;
  }
  .our-team:hover .social li a {
    background: #60c5a8;
    color: #fff;
  }
  
  .social li a:hover {
    background-color: #025784 !important;
    border: none;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 992px) {
    .our-team {
      margin-bottom: 2rem;
    }
  }




  