include ../main-layouts/header.pug


block cssLink 
  link(rel='stylesheet' href='/css/arayuz.css')

block title 
  title Anasayfa

  include ../main-layouts/navbar.pug  
  .d-flex.justify-content-center.container
    .col-md-12
      .card-hover-shadow-2x.mb-3.card
        .card-header-tab.card-header.h-10
          .card-header-title.font-size-lg.text-capitalize.font-weight-normal
            i.fa.fa-tasks
            | &nbsp; Yapılacaklar Listesi
          .card-header-title.font-size-lg.text-capitalize.font-weight-normal
            ul.list-group
              li.list-group-item
                a(href='#') Tümünü Göster
              li.list-group-item
                a(href='#') Tamamlanmış
              li.list-group-item
                a(href='#') Tamamlanmamış
        .scroll-area-sm
          perfect-scrollbar.ps-show-limits
            .ps.ps--active-y(style='position: static')
              .ps-content
                ul.list-group.list-group-flush
                  li.list-group-item
                    .todo-indicator.bg-warning
                    .widget-content.p-0
                      .widget-content-wrapper
                        .widget-content-left
                          .widget-heading
                            | Sunucu kontrolleri 
                            .badge.badge-success.ml-2 Accepted
                          .widget-subheading
                            i Halim
                        .widget-content-right
                          button.border-0.btn-transition.btn.btn-outline-success
                            i.fa.fa-check
                          if(data.isAdmin == true)
                            button.border-0.btn-transition.btn.btn-outline-warning
                              i.fa.fa-pen
                            button.border-0.btn-transition.btn.btn-outline-danger
                              i.fa.fa-trash
                  li.list-group-item
                    .todo-indicator.bg-danger
                    .widget-content.p-0
                      .widget-content-wrapper
                        .widget-content-left
                          .widget-heading
                            | Veritabanı Düzenlenmesi
                          .widget-subheading
                            i Murat
                        .widget-content-right
                          button.border-0.btn-transition.btn.btn-outline-success
                            i.fa.fa-check
                          if(data.isAdmin == true)
                            button.border-0.btn-transition.btn.btn-outline-warning
                              i.fa.fa-pen
                            button.border-0.btn-transition.btn.btn-outline-danger
                              i.fa.fa-trash
                  li.list-group-item(style='background-color: #81CACF;')
                    .todo-indicator.bg-success
                    .widget-content.p-0
                      .widget-content-wrapper
                        .widget-content-left
                          .widget-heading(style='text-decoration: line-through;')
                            | Tasarımların Kodlanması;
                          .widget-subheading
                            i Özge
                        .widget-content-right
                          button.border-0.btn-transition.bg-success.text-light.btn.btn-outline-success
                            i.fa.fa-check
                          if(data.isAdmin == true)
                            button.border-0.btn-transition.btn.btn-outline-warning
                              i.fa.fa-pen
                            button.border-0.btn-transition.btn.btn-outline-danger
                              i.fa.fa-trash
        if(data.isAdmin== true)
          div.d-block.text-center.card-footer
            button.btn.btn-primary Görev Ekle
